*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.container>h1{
    color: #3882f6;
    width: 100%;
    font-size: 48px;
    font-weight: bolder;
    margin: 15px;
}
.body1{
    padding: 10px;
}
.hero{
    background-color: #1f2937;
    color: white;
    width: 100%;
    padding: 10px;
}
.div2>h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.footer1{
    background-color: #e5e7eb;
    width: 100%;
    padding: 10px;
}
.div3>h3{
    color: #e5e7eb;
    font-size: 18px;
}
.div4>h3{
    font-size: 24px;
    color: #f9faf8;
}
.div5>h3{
    color: #3882f6;
}
.div6>h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.div8>h2{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}

.header{
    background-color: #1f2937;
    width: 100%;
    color: white;
    padding: 0 10%;
}
.links>a{
    margin: 0 15px 0 0;
}
.head{
    display: flex;
    justify-content: space-between;
}
.header>h2{
    display: flex;
}
.links>.logo{
    color: white;
    font-weight: bold;
    margin-right: 62em;
}
.links{
    width: 80%;
    margin-left: 2em;
}
.links>a, .text>p{
    flex: 1;
    text-decoration: none;
    color: lightgray;
    font-size: 0.9rem;
    
}
.web{
    display: flex;
}
.text, .image {
    height: 200px;
    margin: 20px;
    flex: 1 1 auto;
}
.text{
    width: 400px;
    padding: 10px;
    
}
.text>h4{
    font-size: 2.5em;
    margin: 0;
}
.text>button{
    background-color: #3882f6;
    border: none;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.5em;
}
.image{
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: 10%;
}
.image>img{
    width: 60%;
    font-weight: lighter;
    height: 100%;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    flex: 1;
    align-self: center;
    width: 150px;
    margin: 10px;
    font-size: 10px;
    color: #606060;
    text-align: center;
}
.box>div{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.body{
    padding: 0 30%;
}
.body>h2{
    text-align: center;
    margin: 0.5em;
}
.quote{
    background-color: #ccc;
    padding: 5% 30%;
}
.quote>p{
    font-style: italic;
    font-size: larger;
    font-weight: lighter;
    text-align: left;
}
.quote{
    text-align: right;
}
.footer{
    background-color: #3882f6;
    border-radius: 5px;
    margin: 5% 10%;
    padding: 20px 10%;
    display: flex;
    color: white;
}
.footer>button{
    margin-left: 20%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: bold;
}
.footer>p{
    font-weight: lighter;
}
.foot{
    background-color: #1f2937;
    text-align: center;
    padding: 1em 0;
    color: #ccc;
}