*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: #1f2937;
    width: 100%;
    color: white;
    padding: 0 10%;
}
.links>a{
    margin: 0 15px 0 0;
}
.head{
    display: flex;
    
    justify-content: space-between;
}
.header>h2{
    display: flex;
}
.links>.logo{
    color: white;
    font-weight: bold;
    margin-right: 40em;
}
.links>a, .text>p{
    flex: 1;
    text-decoration: none;
    color: lightgray;
    font-size: 0.9rem;
    
}
.web{
    display: flex;
}
.text, .image {
    height: 200px;
    margin: 20px;
    flex: 1 1 auto;
}
.text{
    width: 400px;
    padding: 10px;
    
}
.text>h4{
    font-size: 2.5em;
    margin: 0;
}
.text>button{
    background-color: #3882f6;
    border: none;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.5em;
}
.image{
    justify-content: center;
    align-items: center;
    padding: 8% 10%;
    background-color: #929292;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    flex: 1;
    align-self: center;
    width: 150px;
    margin: 10px;
    font-size: 10px;
    color: #606060;
    text-align: center;
}
.box>div{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}
.body{
    padding: 0 30%;
}
.body>h2{
    text-align: center;
    margin: 0.5em;
}
.quote{
    background-color: #ccc;
    padding: 5% 30%;
}
.quote>p{
    font-style: italic;
    font-size: larger;
    font-weight: lighter;
    text-align: left;
}
.quote{
    text-align: right;
}
.footer{
    background-color: #3882f6;
    border-radius: 5px;
    margin: 5% 10%;
    padding: 20px 10%;
    display: flex;
    color: white;
}
.footer>button{
    margin-left: 20%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: bold;
}
.footer>p{
    font-weight: lighter;
}
.foot{
    background-color: #1f2937;
    text-align: center;
    padding: 1em 0;
    color: #ccc;
}